<p>landing works!</p>
<div class="jamtech-container">
    <div class="jamtech-body">
        <div id="jamtech-top-bar" class="jamtech-top-bar">
            <div class="top-bar-left jamtech-logo">
                <mat-icon svgIcon="jamtechlogo"></mat-icon>
            </div>
            <div class="top-bar-middle">
                <p>Serving the Working Professional of Jamaica NYC</p>
            </div>
            <div class="top-bar-right">
                <button mat-stroked-button color="primary">Join</button>
                <button mat-raised-button mat-stroked-button>Login</button>
            </div>
        </div>
        <div id="jamtech-header" class="jamtech-header">

            <div class='.jamtech-header-img'>
                <img src="../../assets/images/community_at_work.jpg" class="jamtech-header-img">
                <div class="jamtech-header-mission">
                    <h2>Building our community from within</h2>
                    <h2>JamTech's Professional Network rebuilding Queens</h2>
                    <h2>Shaping the future of Jamaica with local business</h2>
                    <h2>Working to reshape Jamaica with local talent</h2>
                    <h2>Network and hire talent from locally</h2>
                    <h2>Jamaica professionals and workers are up to the task</h2>
                    <h2>JamTech recruiting for our future</h2>
                </div>
            </div>

        </div>
        <!-- <div class="jamtech-content">
            <div class="jamtech-intro">
                <div class="jamtech-intro-content">
                    <mat-card class="mat-elevation-z8">
                        <mat-card-header>
                            <mat-card-title>Who is JamTech?</mat-card-title>
                            <mat-card-subtitle>subtitle</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                JamTech is a organization whos mission is to connect business and workers
                                to ongoing and future projects happening in Jamaica NYC. Our goal is to communicate
                                the economic opportunites and prepare our communities entreprenuers to qualify and
                                win contracts that currently executed by businesses outside of the community.
                            </p>
                        </mat-card-content>
                    </mat-card>

                </div>

                <div class="jamtech-intro-content-image">

                    <img src="../../assets/images/business-owner-wearing-hard-hat.jpg">

                </div>
            </div>
            
        </div> -->
        <div class="jamtech-content">
            <div class="jamtech-intro">
                <div class="jamtech-intro-content">
                    <mat-card class="mat-elevation-z8">
                        <mat-card-header>
                            <mat-card-title><h3>What is JamTech?</h3></mat-card-title>   
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                JamTech is a organization whos mission is to connect business and workers
                                to ongoing and future projects happening in Jamaica NYC.
                            </p>
                             <p> Our goal is to create a network of local business and professionals preparing them to bid,
                                win and excecute ongoing and future projects, located within Jamaica NYC.
                            </p>
                        </mat-card-content>
                    </mat-card>

                </div>

                <div class="jamtech-intro-content-image">

                    <img src="../../assets/images/business-owner-wearing-hard-hat.jpg">

                </div>
                
            </div>
            
        </div>
        <div class="jamtech-content">
            <div class="jamtech-intro">

                <div class="jamtech-intro-content-image">

                    <img src="../../assets/images/isa-abdur-rahman.jpg" alt="Isa Abdur-Rahman">

                </div>

                <div class="jamtech-intro-content">
                    <mat-card class="mat-elevation-z8">
                        <mat-card-header>
                            <mat-card-title><h3>Hello, I'm Isa</h3></mat-card-title>
                            <mat-card-subtitle><h4>Executive Director</h4></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                My name is Isa Abdur-Rahman, Esq. I am the Executive Director of the Farmers Boulevard
                                Community Development Corp. I've lived here in the city of Jamaica from my youth. I've witness all the changes that
                                has happened over the years. There has been alot of change that has been good and a lot of change that could be
                                better.
                            </p>
                            <p>
                                As a practicing attorney, I represent entrepreneurs, project managers and individuals
                                who have difficulty finding minority owned businesses and professionals, 
                                ready to qualified local talent to fill positions for ongoing opportunities.
                            </p>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>
        </div>

    </div>

</div>