/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.finalize-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalize-form__button button{
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    padding: 1em 2em;
    min-width: 200px;
    /* background: #0160b4;
    border-color: #0160b4; */
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2em;
    border-radius: 3px;
    line-height: 20px;
}